html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #4c4c4c;
}
main h2{
  text-align: center;
}

.wrapper{
 width: 80%;
 margin: 0 auto;
 height: 100vh;
 position: relative;
 padding-top: 50px;
}

.header-text{
  text-decoration: underline;
}

.cats{
  margin: 50px 0;
}
.cat-wrapper{
  width: 100%;
  margin: 0;
  /*display: flex;
  justify-content: center;*/
}

.cat{
  width: calc(100%/3);
}

.catImg{
  width: 100%;
}

.app-header{
  text-align: center;
}

.app-header h1{
  margin: 0;
}

main{
  /*height: calc(100vh - 150px);*/
}

.app-footer p{
  text-align: center;
}

.app-footer p, 
.app-footer a{ 
  color: #4c4c4c;
}

.catsNames{
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.catName{
  padding: 5px;
  border: 1px solid #4c4c4c;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease .5s;
  margin: 5px;
}
.catName:hover{
  background-color: rgba(76, 76, 76, .3);
}

.admin{
  display: flex;
}

.admin__label{
  display: block;
  padding: 5px;
}
.admin__form{
  opacity: 0;
}

.admin.active .admin__form{
  opacity: 1;
}
.admin.active .admin__btn{
  display: none;
}

.admin__btn{
  border: 1px solid #4c4c4c;
  padding: 5px;
  border-radius: 3px;
  height: 30px;
  margin-right: 50px;
}
@media (max-width: 460px) {
  .cat {
    width: 100%;
  }

  .catsNames{
    flex-wrap: wrap;
  }
}
